[defaults]
forks=30
gathering=explicit

[galaxy]
server_list = rh-certified
ignore_certs = true
[galaxy_server.rh-certified]
url=https://192.168.124.24/api/galaxy/content/rh-certified/
token=a2c4233f4ba3dc19e28d315bf7aea3161176ecf4
