[defaults]
forks=30
gathering=explicit
become=true

[galaxy]
server_list = automation_hub, rh-certified, published
ignore_certs=true

[galaxy_server.automation_hub]
url=https://192.168.124.24/api/galaxy/
token=4bfc497f7d8f681b55e91e6037bece2fe9697cf1

[galaxy_server.rh-certified]
url=https://192.168.124.24/api/galaxy/content/rh-certified/
token=4bfc497f7d8f681b55e91e6037bece2fe9697cf1

[galaxy_server.published]
url=https://192.168.124.24/api/galaxy/
token=4bfc497f7d8f681b55e91e6037bece2fe9697cf1
